/content/blocks/turrets/item/**
/content/blocks/turrets/power/**
/content/blocks/turrets/pillbox.hjson
/sprites/sprites/**
/sprites/sprites genesis/**
/content/blocks/turrets/units/**

/sprites/blocks/turrets/clipboard.png
!/content/blocks/turrets/item/*

/content/blocks/turrets/item/**
